:root {
    --bg-white: #e6e6e6;
    --bg-red: #da251c;
    --bg-gold: #c8aa51;
    --text-dark: #222;
    --text-light: #fff;
    --radius: 12px;
}

/* Reset style untuk semua atribut */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

/* Body */
body {
    background-color: var(--bg-white);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

/* Main */
main {
    background-color: white;
    width: 100%;
    max-width: 600px;
    padding: 30px 40px;
    margin-top: 2rem;
    border-radius: 20px;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.1);
    border-top: 10px solid #da251c;
}


/* Header website */
#formHeader {
    text-align: center;
    margin-bottom: 25px;
}

#formHeader h1 {
    color: #da251c;
    font-size: 24px;
    margin-bottom: 5px;
}

#formHeader p {
    color: #c8aa51;
    font-size: 14px;
}

/* Input Field */
label {
    display: block;
    color: #da251c;
    font-weight: 600;
    margin-bottom: 5px;
}

/* Input field */
input, textarea, select {
    width: 100%;
    padding: 0.8rem 1rem;
    border: 1px solid #ccc;
    border-radius: var(--radius);
    border-color: var(--bg-gold);
    font-size: 1rem;
    margin-bottom: 1rem;
    background: #fff;
    transition: border-color 0.25s ease;
}

input:focus, textarea:focus, select:focus {
    outline: none;
    border-color: var(--bg-red);
}

/* Button */
button {
    background: var(--bg-red);
    border: none;
    border-radius: var(--radius);
    padding: 0.8rem 1.5rem;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 600;
    transition: background 0.25s ease;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 2rem;
    color: var(--text-light);
}

button:hover {
    background: var(--bg-gold);
    color: var(--text-dark);
}
